@use './variables' as vars;

@mixin mainLayout {
  min-height: 81dvh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: vars.$greyBackground;
}

@mixin h2WithUnderline {
  font-size: 24px;
  font-weight: 700;
  position: relative;

  //&::after {
  //  content: '';
  //  position: absolute;
  //  bottom: -0.1em;
  //  left: 50%;
  //  transform: translateX(-50%);
  //  width: 60%;
  //  height: 4px;
  //  border-radius: 4px;
  //  background: vars.$brandColorGradient;
  //}
}

@mixin buttonDisabled {
  width: 150px;
  text-align: center;
  background: adjust-color(vars.$greyBackground, $lightness: -10%);
  border: 1px solid vars.$fontColorPrimary;
  cursor: not-allowed !important;
  padding: 0.3em 0.5em;
}

@mixin buttonEnabled {
  width: 150px;
  text-align: center;
  background: vars.$brandColorGradient;
  border: 1px solid vars.$fontColorPrimary;
  cursor: pointer;
  padding: 0.3em 0.5em;
}

@mixin button {
  width: 150px;
  text-align: center;
  background: #f6f6f6;
  color: vars.$fontColorPrimary;
  border: 1px solid vars.$fontColorPrimary;
  cursor: pointer;
  padding: 0.3em 0.5em;
}
