$mobileWidth: 768px;
$tabletWidth: 1024px;
$laptopWidth: 1280px;
$desktopWidth: 1440px;

$fontColorPrimary: #36395a;
$errorColor: #fb5858;

$greyBackground: #dcdcdc;

$brandColor: #818f26;
$darkerBrandColor: #6A782B;