@use '../../utils/styles/variables' as vars;
@use '../../utils/styles/mixins' as mixins;

#createEmployee {
  min-height: 80dvh;
  background: vars.$greyBackground;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 1em;
}

#createEmployee h2 {
  @include mixins.h2;
  @media (max-width: vars.$tabletWidth) {
    margin-top: 1em;
  }
}

#createEmployee .formWrapper {
  padding: 0 2em;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  @media (max-width: vars.$tabletWidth) {
    padding: 4em 0.5em;
  }
  @media (max-width: vars.$mobileWidth) {
    padding: 0.5em 0.5em;
  }
}