@use '../../utils/styles/variables' as vars;
@use '../../utils/styles/mixins' as mixins;

#createEmployee {
  min-height: 81dvh;
  background: vars.$greyBackground;
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
}

#createEmployee h2 {
  @include mixins.h2;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: .5em;
  width: 100%;
  text-align: center;

  @media (max-width: vars.$tabletWidth) {
    font-size: 1.3em;
  }
}

#createEmployee .formWrapper {
  padding: 0 2em;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  @media (max-width: vars.$tabletWidth) {
    padding: 4em 0.5em;
  }
}