@use '../../utils/styles/variables' as vars;
@use '../../utils/styles/mixins' as mixins;

footer {
  background: vars.$fontColorPrimary;
  min-height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  @media (max-width: vars.$tabletWidth) {
    flex-flow: column;
  }
}

footer blockquote {
  font-size: 0.9em;
  color: #ffffff;
  font-style: italic;
  @media (max-width: vars.$tabletWidth) {
    font-size: 0.7em;
    padding: 2em;
    order: 2;
  }
}

footer blockquote .brandColor {
  color: vars.$brandColor;
}

footer .languageButtonsWrapper {
  position: absolute;
  right: 50px;
  display: flex;
  flex-flow: column;
  gap: 1em;
  padding: 1em;
  @media (max-width: vars.$tabletWidth) {
    margin-top: 1em;
    position: unset;
  }
}

footer .languageButtonsWrapper button {
  background: none;
  border: none;
  font-size: 0.9em;
  color: #ffffff;
  cursor: pointer;
  display: flex;
}
