@use 'sass:color';

@use '../../utils/styles/variables' as vars;
@use '../../utils/styles/mixins' as mixins;

#newEmployeeForm {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  padding: 1em;
  border-radius: 8px;
  background: #ffffff;

  @media (max-width: vars.$tabletWidth) {
    width: 85%;
  }
  @media (max-width: vars.$mobileWidth) {
    width: 100%;
  }
}

#newEmployeeForm .topSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @media (max-width: vars.$tabletWidth) {
    flex-flow: column;
    gap: 1em;
    width: 100%;
  }
}

#newEmployeeForm .bottomSection {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1em;

  @media (max-width: vars.$tabletWidth) {
    margin-top: 1em;
    margin-bottom: 2em;
  }
}

#newEmployeeForm h3 {
  text-align: center;
  margin-bottom: 0.5em;
}

#newEmployeeForm .leftSide,
#newEmployeeForm .rightSide {
  display: flex;
  flex-flow: column;
  width: 48%;
  @media (max-width: vars.$tabletWidth) {
    width: 100%;
  }
}

#newEmployeeForm .inputWrapper,
#newEmployeeForm .selectWrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  @media (max-width: vars.$tabletWidth) {
    padding: 0 4rem;
  }
  @media (max-width: vars.$mobileWidth) {
    padding: 0 0.5rem;
  }
}

#newEmployeeForm .inputWrapper label {
  width: 75%;
  @media (max-width: vars.$tabletWidth) {
    width: 100%;
  }
}

#newEmployeeForm .inputWrapper input {
  border: 1px solid vars.$fontColorPrimary;
  padding: 0.5em;
  background: color.adjust(vars.$greyBackground, $lightness: 10%);
  margin-bottom: 0.5em;
  width: 75%;
  height: 38px;
  @media (max-width: vars.$tabletWidth) {
    width: 100%;
  }
}

#newEmployeeForm .bottomSection label {
  width: 100%;
  text-align: center;
  @media (max-width: vars.$tabletWidth) {
    width: 100%;
  }
}

#newEmployeeForm .topSection .inputWrapper .css-b62m3t-container {
  width: 75%;
  height: 38px;
  margin-bottom: 0.5em;
  @media (max-width: vars.$tabletWidth) {
    width: 100%;
  }
}

#newEmployeeForm .topSection .inputWrapper .css-13cymwt-control {
  width: 100%;
  height: 38px;
  border: 1px solid vars.$fontColorPrimary;
  border-radius: unset;
  background: #f2f2f2;
}

#newEmployeeForm .bottomSection .selectWrapper .css-b62m3t-container,
#newEmployeeForm .bottomSection .selectWrapper .css-13cymwt-control {
  width: 150px;
  background: #f2f2f2;
  height: 38px;
  border-radius: unset;
}

#newEmployeeForm .bottomSection .selectWrapper .css-13cymwt-control {
  border: 1px solid vars.$fontColorPrimary;
}

.css-13cymwt-control,
.css-hlgwow,
.css-1wy0on6,
.css-1jqq78o-placeholder,
.css-19bb58m {
  height: 38px;
}

#newEmployeeForm .buttonWrapper {
  display: flex;
  gap: 4em;
}

#newEmployeeForm .bottomSection button {
  width: 150px;
  cursor: pointer;
}

#newEmployeeForm .bottomSection .returnButton {
  @include mixins.button;
}

.buttonDisabled {
  @include mixins.buttonDisabled;
}

.buttonEnabled {
  @include mixins.buttonEnabled;
}

#newEmployeeForm .errorMessage {
  color: vars.$errorColor;
}
