@use '../../utils/styles/variables' as vars;
@use '../../utils/styles/mixins' as mixins;

#newEmployeeForm {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  width: 100%;
  padding: 1em;
  border: 2px solid vars.$fontColorPrimary;
  border-radius: 8px;
  background: #ffffff;
  @media (max-width: vars.$tabletWidth) {
    width: 85%;
  }
  @media (max-width: vars.$mobileWidth) {
    width: 100%;
  }
}

#newEmployeeForm .topSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;

  @media (max-width: vars.$tabletWidth) {
    flex-flow: column;
    gap: 1em;
    width: 100%;
  }
}

#newEmployeeForm .bottomSection {
  display: flex;
  flex-flow: column;
  width: 50%;
  @media (max-width: vars.$tabletWidth) {
    margin-top: 1em;
    margin-bottom: 2em;
  }
}

#newEmployeeForm h3 {
  text-align: center;
  margin-bottom: 0.5em;
}

#newEmployeeForm .leftSide,
#newEmployeeForm .rightSide {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 46%;
  @media (max-width: vars.$tabletWidth) {
    width: 100%;
  }
}

#newEmployeeForm .inputWrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  @media (max-width: vars.$tabletWidth) {
    padding: 0 4rem;
  }
  @media (max-width: vars.$mobileWidth) {
    padding: 0 .5rem;
  }
}

#newEmployeeForm .inputWrapper label {
  width: 50%;
  font-size: 12px;
  @media (max-width: vars.$tabletWidth) {
    width: 100%;
  }
}

#newEmployeeForm .inputWrapper input {
  border: 1px solid vars.$fontColorPrimary;
  padding: 0.5em;
  background: adjust-color(vars.$greyBackground, $lightness: 10%);
  margin-bottom: 1em;
  width: 50%;
  height: 30px;
  font-size: 12px;
  @media (max-width: vars.$tabletWidth) {
    width: 100%;
  }
}

#newEmployeeForm .bottomSection {
  display: flex;
  align-items: center;
  gap: 1em;
}

#newEmployeeForm .bottomSection label {
  text-align: center;
  width: 100%;
}

#newEmployeeForm .bottomSection select {
  width: 150px;
  font-size: 12px;
}

#newEmployeeForm .buttonWrapper {
  display: flex;
  gap: 4em;
}

#newEmployeeForm .bottomSection button {
  width: 150px;
  cursor: pointer;
  font-size: 12px;
}

#newEmployeeForm .bottomSection .returnButton {
  @include mixins.button;
}

.buttonDisabled {
  @include mixins.buttonDisabled;
}

.buttonEnabled {
  @include mixins.buttonEnabled;
}