$defaultTableBgColor: linear-gradient(
  to left,
  adjust-color(#818f26ff, $lightness: 30%),
  adjust-color(#6a782bff, $lightness: 20%)
);
$defaultHeaderHoverColor: adjust-color(#818f26ff, $lightness: 10%);
$defaultRowColor: #ffffff;
$defaultHoverRowColor: #36395a;
$defaultTextColor: #36395a;
$defaultHoverTextColor: #ffffff;
$defaultDisabledButtonColor: #dcdcdc;
$defaultColumnSortingColor: #dcdcdc;
$defaultColumnSortingFullFilledColor: #36395a;

#TLR {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-top: 2em;

  --header-bg-color: #{$defaultTableBgColor};
  --header-hover-bg-color: #{$defaultHeaderHoverColor};
  --row-color: #{$defaultRowColor};
  --hover-row-color: #{$defaultHoverRowColor};
  --text-color: #{$defaultTextColor};
  --hover-text-color: #{$defaultHoverTextColor};
  --disable-button-color: #{$defaultDisabledButtonColor};
  --column-sorting-color: #{$defaultColumnSortingColor};
  --column-sorting-full-filled-color: #{$defaultColumnSortingFullFilledColor};
}

#TLR .tableHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

#TLR .tableHeader .selectContainer {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

#TLR .tableHeader .searchContainer {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

#TLR .tableHeader .searchContainer input {
  border: 1px solid #36395a;
  padding: 0.5em;
  height: 1.7em;
}

#TLR .tableHeader .searchContainer input:focus {
  outline: 3px solid #36395a;
}

#TLR table {
  width: 85dvw;
  border-collapse: collapse;
  border-spacing: 0;
  background: var(--header-bg-color, #{$defaultTableBgColor});
  border-radius: 10px;
  table-layout: fixed;
}

#TLR thead th {
  padding: 10px;
  text-align: center;
  position: relative;
}

#TLR thead th:hover {
  background: var(--header-hover-bg-color, #{$defaultHeaderHoverColor});
  cursor: pointer;
  transition: background 150ms ease-in-out;
}

#TLR thead th:hover:first-child {
  border-radius: 10px 0 0 0;
}

#TLR thead th:hover:last-child {
  border-radius: 0 10px 0 0;
}

#TLR thead th .chevron {
  stroke: var(--column-sorting-color, #{$defaultColumnSortingColor});
  fill: var(--column-sorting-color, #{$defaultColumnSortingColor});
}

#TLR thead th .chevron-active {
  stroke: var(
    --column-sorting-full-filled-color,
    #{$defaultColumnSortingFullFilledColor}
  );
  fill: var(
    --column-sorting-full-filled-color,
    #{$defaultColumnSortingFullFilledColor}
  );
}

#TLR thead th div {
  display: flex;
  flex-flow: column;
  position: absolute;
  right: 1.3dvw;
  top: 0;
}

#TLR thead th div > span:first-child {
  position: absolute;
  bottom: -25.2px;
}

#TLR thead th div > span:last-child {
  position: absolute;
  top: 17px;
}

#TLR thead th div span svg {
  width: 1.2dvw;
  height: 1.2dvh;
}

#TLR tbody tr {
  background: var(--row-color, #{$defaultRowColor});
}

#TLR td {
  padding: 10px;
  text-align: center;
}

table tbody tr:hover {
  background: var(--row-hover-color, #{$defaultHoverRowColor}) !important;
  cursor: default;
  td {
    color: var(--row-color, #{$defaultHoverTextColor});
  }
}

table tbody td {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table tbody td:hover {
  white-space: normal;
  overflow: visible;
}

#TLR tbody tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}

#TLR tbody tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}

#TLR .tableFooter {
  margin: 1em 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#TLR .tableFooter .buttonContainer {
  display: flex;
  gap: 1em;
  justify-content: center;
}

#TLR .tableFooter .buttonContainer button {
  width: 150px;
  text-align: center;
  background: #f6f6f6;
  color: var(--text-color, #{$defaultTextColor});
  border: 1px solid var(--text-color, #{$defaultTextColor});
  cursor: pointer;
  padding: 0.3em 0.5em;
}

#TLR .tableFooter .buttonContainer button:disabled {
  background: var(
    --default-disabled-button-color,
    #{$defaultDisabledButtonColor}
  ) !important;
  cursor: not-allowed !important;
}
